<% provide(:title, @stock.ticker) %>
<% stockdata = StockQuote::Stock.quote(@stock.ticker)%>
<% change = (stockdata.latest_price-stockdata.previous_close).round(2)%>
<% pctchange = (100*(stockdata.latest_price-stockdata.previous_close)/stockdata.previous_close).round(2)%>
<% if stockdata.latest_price-stockdata.previous_close>0 %>
    <h2 class="price"><%="$"+stockdata.latest_price.to_s%></h2>
    <h2 class="greenpct"><%="+$"+change.to_s+" ("+pctchange.to_s+"%)"%></h2>
<%else%>
    <h2 class="price"><%="$"+stockdata.latest_price.to_s%></h2>
    <h2 class="redpct"><%="-$"+change.abs.to_s+" ("+pctchange.to_s+"%)"%></h2>
<%end%>

<div class="center jumbotron">
    <p id="notice"><%= notice %></p>
    <h1 class="compname"> <%= stockdata.company_name %> </h1>
    <h2 class="center"> <%= "Trading Exchange: "+stockdata.primary_exchange%> </h2>    
    <table class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Prev. Close</th>
                <th scope="col">Today's Change</th>
                <th scope="col">52 Wk High</th>
                <th scope="col">52 Wk Low</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= stockdata.latest_price %> </td>
                <td> <%= stockdata.previous_close %> </td>
                <% if stockdata.latest_price-stockdata.previous_close>0 %>
                    <td class="green"><%="+"+pctchange.to_s+"%"%></td> 
                <%else%>
                    <td class="red"><%=pctchange.to_s+"%"%></td>
                <%end%>
                <td class="green"><%="$"+stockdata.week52_high.to_s%></td> 
                <td class="red"><%="$"+stockdata.week52_low.to_s%></td> 
            </tr>
        </tbody>
    </table>

    <% if change>0 %>
        <%= image_tag  "stonks.png", alt: "stonks going up" %>
    <%else%>
        <%= image_tag  "notstonks.png", alt: "not stonks pointing down" %>
    <%end%>
    <p></p>
    <%= link_to 'Back', stocks_path %>

     
</div>

